body{
    background-color: #f9e6c2;
}
.my-nav{
    position: absolute;
    z-index: 10;
    width: 100%;
}
.carousel-item {
    height: 100vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
ul li a{
    color: white!important;
    font-size: 18px;
}
.carousel-item{
    height: 600px;
}
.my-nav{
    background: #d5c7d8bf;
}
.service-sec{
    margin-top: 50px;
}
.service-title h1 {
    padding: 10px 0px;
    text-align: center;
    margin-bottom: 30px;
    color: #6d5a5a;
    border-bottom: 3px solid #e8ce9e;
    text-shadow: 3px 7px 10px #41336d;
}
.title-icon{
    font-size: 65px;
}
.btn-sign-up{
    background-color: #d28265;
}
.btn-pricing{
    background-color: #a2538f;
}
.col-md-5{
    margin-bottom: 0px!important;
}
section.about-us {
    background: #ffedcc;
    padding: 20px 0px;
}
.col-md-6.about-content {
    border: 1px solid #b3d4c0;
    padding-bottom: 10px;
    border-radius: 5px;
}
.about-title {
    font-family: inherit;
    color: #555;
    border-bottom: 2px solid #31ce70;
    margin-bottom: 8px;
}
.about-img img {
    width: 100%;
    border: 1px solid #b3d4c0;
    border-radius: 5px;
    padding-bottom: 22px;
}
.about-btn{
    background-color: transparent;
    color: black;
}
section.work-progress {
    background-image: linear-gradient(#1d191975,#1d191975),
    linear-gradient(#1d191975,#1d191975), 
    url(./work-progress2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 0px;
    color: white;
    background-position: bottom;
    margin-bottom: 30px;
}
.map-sec h6{   
    text-align: center;
    padding: 5px;   
    margin-left: 16%;    
    margin-top: 4%;   
    font-size: 23px;   
    color: #f3f3f3;
}
iframe{
    border: 2px solid #395292;
    width: 85%;
    height: 75%;
    margin-top: 0%;
    margin-left: 13%;
    opacity: 0.8;
}
.copyright{
    padding-top: 10px;
}
.copyright h5{
    font-size: small;
	text-align: right;
}
footer.pt-4.my-md-5.pt-md-5.border-top {
    margin-bottom: 0px !important;
}
footer {
    background: linear-gradient(#2f1e1e,#412a5aed);
    padding-bottom: 10px;
    color: white;
}

/* **** HOVER EFFECTS **** */

ul li a:hover{
    color: #152250!important;
    text-decoration: underline!important;
}
.card.mb-4.shadow-sm:hover .title-icon{
    color: orange;
    transition: all 0.5s ease-in-out;
}
.card.mb-4.shadow-sm:hover .card-header-title{
    color: #d69213;
    transition: all 0.5s ease-in-out;
}
.card.mb-4.shadow-sm:hover {
    box-shadow: 3px 2px 8px gray !important;
    transition: all 0.5s ease-in-out;
}
.btn-service:hover{
    background-color: #a0bf7b;
}
.text-small li a:hover{
    color: #fff!important;
}
.about-btn:hover{
    background-color:#ec8a8a;
}

/* **** HOVER EFFECTS END ***** */

/* ****MEDIA QUERY START**** */

@media only screen and (max-width: 425px){
    .col-sm-6{
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 3%;
    }
    .map-sec h6{
        margin-left: 5%;
    }
    iframe{
        margin-left: 7%;
    }
}
@media only screen and (max-width: 768px){
    div.mb-4{
        flex: 1 0 40% !important;
    }
}

/* ****MEDIA QUERY END**** */